---

---

<div
  class="background-gradient w-screen h-screen absolute -z-10 right-0 top-0 max-h-[1100px]"
>
</div>

<style>
  .background-gradient {
    mask-image: linear-gradient(to top, transparent 0%, rgb(17, 24, 39) 70%);
    background-image: radial-gradient(
        ellipse at -20% 32%,
        rgb(39, 54, 88) 0%,
        rgba(0, 188, 212, 0) 35%
      ),
      radial-gradient(
        ellipse at 130% 68%,
        rgb(39, 54, 88) 20%,
        rgba(0, 188, 212, 0) 50%
      );
  }
</style>
