---
import ContactCard from "./ContactCard.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import MailIcon from "./icons/MailIcon.astro";
---

<span id="contact-section" class="sm:mt-8"></span>
<section class="bg-gray-900 my-28 sm:my-48">
  <div
    class="mx-auto max-w-5xl sm:max-w-3xl xl:max-w-5xl 2xl:max-w-7xl px-6 lg:px-8"
  >
    <h2
      class="text-4xl sm:text-5xl text-center font-bold tracking-tight text-white"
    >
      Contáctame
    </h2>
    <div
      class="mx-auto mt-16 sm:mt-24 grid place-items-center max-w-2xl grid-cols-1 gap-8 text-base leading-7 sm:grid-cols-2 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-4"
    >
      <ContactCard
        text="Github"
        linkText="Ver proyectos"
        link="https://github.com/Javiparmu"
      >
        <GithubIcon color="#FBBC04" />
      </ContactCard>
      <ContactCard
        text="LinkedIn"
        linkText="Ir al perfil"
        link="https://www.linkedin.com/in/javierparragamunoz/"
      >
        <LinkedInIcon color="#0A66C3" />
      </ContactCard>
      <ContactCard
        text="Manfred"
        linkText="Ir al perfil"
        link="https://www.getmanfred.com/en/profile/bfcb8af1-7b46-4bfb-8fc3-ce5a60ceca36"
      >
        <img
          class="w-6 h-6 rounded-full"
          src="/images/manfred.webp"
          alt="Manfred"
        />
      </ContactCard>
      <ContactCard
        text="javierparragamunoz97@gmail.com"
        linkText="Enviar email"
        link="mailto:javierparragamunoz97@gmail.com"
      >
        <MailIcon color="white" />
      </ContactCard>
    </div>
  </div>
</section>
