---
const { text, link, linkText } = Astro.props;
---

<div class="w-44 sm:w-36">
  <figure class="border-l border-indigo-400 pl-6">
    <slot />
  </figure>
  <address
    class="text-md sm:text-lg border-l border-gray-200 pl-6 pt-2 not-italic text-gray-300"
  >
    <p>{text}</p>
    <a class="font-semibold text-indigo-400" href={link}>{linkText}</a>
  </address>
</div>
