---
import { experienceItems } from "../utils/constants";
import ExperienceItem from "./ExperienceItem.astro";
import { formatExperienceDate } from "../utils/time";
---

<span id="experience-section"></span>
<h2
  class="text-center text-white text-4xl sm:text-5xl font-bold mt-28 sm:mt-48"
>
  Experiencia
</h2>
<section
  class="flow-root max-w-[250px] sm:max-w-[400px] md:max-w-[600px] mx-auto mt-16 sm:mt-24"
>
  <ul role="list" class="-mb-8">
    {
      experienceItems.map((item, index) => (
        <li>
          <ExperienceItem
            logo={item.logo}
            company={item.company}
            dateRange={formatExperienceDate(
              item.startDate,
              item.endDate,
              item.showRange
            )}
            description={item.description}
            showDivider={index !== experienceItems.length - 1}
          />
        </li>
      ))
    }
  </ul>
</section>
