---
---

<span id='project-section' />
<h2 class='text-center text-white text-5xl font-bold mt-48'>Proyectos</h2>
<section class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-gray-700 shadow sm:grid sm:grid-cols-2 sm:gap-[1.5px] sm:divide-y-0 mx-12 sm:mx-[25vw] mt-20">
    <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none group relative bg-gray-800 p-6 focus-within:ring-4 focus-within:ring-inset focus-within:ring-indigo-500">
      <div>
        <figure class="inline-flex">
          <img width="200px" src="/images/brain-stack.webp" alt="brain stack project image" class="rounded-[5px]">
        </figure>
      </div>
      <div class="mt-2">
        <h3 class="text-xl font-semibold leading-6 text-white">
          <a href="http://brain-stack.vercel.app" class="focus:outline-none" target="_blank">
            <span class="absolute inset-0" aria-hidden="true"></span>
            Brain Stack
          </a>
        </h3>
        <p class="mt-2 text-sm text-gray-500">Hub universal para hacer todo tipo de generaciones con IA. Chat y generación de código, música, imagen y vídeo ya están disponibles.</p>
      </div>
      <figure class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
          <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
        </svg>
      </figure>
    </div>
    <div class="sm:rounded-tr-lg group relative bg-gray-800 p-6 focus-within:ring-4 focus-within:ring-inset focus-within:ring-indigo-500">
      <div>
        <figure class="inline-flex">
          <img width="200px" src="/images/vector-valley.webp" alt="vector valley project image" class="rounded-[5px]">
        </figure>
      </div>
      <div class="mt-2">
        <h3 class="text-xl font-semibold leading-6 text-white">
          <a href="http://vector-valley.vercel.app" class="focus:outline-none" target="_blank">
            <span class="absolute inset-0" aria-hidden="true"></span>
            Vector Valley
          </a>
        </h3>
        <p class="mt-2 text-sm text-gray-500">Repositorio de iconos. Dispone de una herramienta para generar iconos a partir de un prompt y otra para convertir imágenes a SVG.</p>
      </div>
      <figure class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
          <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
        </svg>
      </figure>
    </div>
    <div class="group relative bg-gray-800 p-6 focus-within:ring-4 focus-within:ring-inset focus-within:ring-indigo-500">
      <div>
        <figure class="inline-flex">
          <img width="200px" src="/images/gaby-guillen-art.webp" alt="brain stack project image" class="rounded-[5px]">
        </figure>
      </div>
      <div class="mt-2">
        <h3 class="text-xl font-semibold leading-6 text-white">
          <a href="http://gabyguillenart.com" class="focus:outline-none" target="_blank">
            <span class="absolute inset-0" aria-hidden="true"></span>
            Gaby Guillén Art
          </a>
        </h3>
        <p class="mt-2 text-sm text-gray-500">Galería de cuadros del artista Gaby Guillén. Dispone de un panel de control para que el artista gestione sus cuadros.</p>
      </div>
      <figure class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
          <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
        </svg>
      </figure>
    </div>
    <div class="group relative bg-gray-800 p-6 focus-within:ring-4 focus-within:ring-inset focus-within:ring-indigo-500">
      <div>
        <figure class="inline-flex">
          <img width="200px" src="/images/nt-history.webp" alt="brain stack project image" class="rounded-[5px]">
        </figure>
      </div>
      <div class="mt-2">
        <h3 class="text-xl font-semibold leading-6 text-white">
          <a href="https://nt-history-web.vercel.app" class="focus:outline-none" target="_blank">
            <span class="absolute inset-0" aria-hidden="true"></span>
            NT-History
          </a>
        </h3>
        <p class="mt-2 text-sm text-gray-500">Historial de partidas para el juego Nuclear Throne. Con tu steam ID puedes obtener los detalles de tus partidas.</p>
      </div>
      <span class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
          <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
        </svg>
      </span>
    </div>
    <div class="sm:rounded-bl-lg group relative bg-gray-800 p-6 focus-within:ring-4 focus-within:ring-inset focus-within:ring-indigo-500">
      <div>
        <figure class="inline-flex">
          <img width="200px" src="/images/geoviewer.webp" alt="brain stack project image" class="rounded-[5px]">
        </figure>
      </div>
      <div class="mt-2">
        <h3 class="text-xl font-semibold leading-6 text-white">
          <a href="https://github.com/Javiparmu/geoviewer-app" class="focus:outline-none" target="_blank">
            <span class="absolute inset-0" aria-hidden="true"></span>
            Geo Viewer
          </a>
        </h3>
        <p class="mt-2 text-sm text-gray-500">App para visualizar en tiempo real datos del centro de Murcia, como posiciones de tranvías o bicis.</p>
      </div>
      <figure class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
          <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
        </svg>
      </figure>
    </div>
    <div class="rounded-bl-lg rounded-br-lg sm:rounded-bl-none group relative bg-gray-800 p-6 focus-within:ring-4 focus-within:ring-inset focus-within:ring-indigo-500">
      <div>
        <figure class="inline-flex">
          <img width="200px" src="/images/chesster.webp" alt="brain stack project image" class="rounded-[5px]">
        </figure>
      </div>
      <div class="mt-2">
        <h3 class="text-xl font-semibold leading-6 text-white">
          <a href="https://javiparmu.github.io/Chesster/" class="focus:outline-none" target="_blank">
            <span class="absolute inset-0" aria-hidden="true"></span>
            Chesster
          </a>
        </h3>
        <p class="mt-2 text-sm text-gray-500">Aplicación web para jugar al ajedrez. De mis primeros proyectos. Con JavaScript puro, sin dependencias extra y dos bots contra los que jugar.</p>
      </div>
      <figure class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
          <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
        </svg>
      </figure>
    </div>
</section>
  