---
import ProjectCard from "./ProjectCard.astro";
---

<span id="project-section"></span>
<h2 class="text-center text-white text-5xl font-bold mt-48">
  Proyectos personales
</h2>
<section
  class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-gray-700 shadow sm:grid sm:grid-cols-2 sm:gap-[1.5px] sm:divide-y-0 mx-12 sm:mx-[25vw] mt-20"
>
  <ProjectCard
    title="Brain Stack"
    description="Hub universal para hacer todo tipo de generaciones con IA. Chat y generación de código, música, imagen y vídeo ya están disponibles."
    img="/images/brain-stack.webp"
    link="http://brain-stack.vercel.app"
  />
  <ProjectCard
    title="Gaby Guillén Art"
    description="Galería de cuadros del artista Gaby Guillén. Dispone de un panel de control para que el artista gestione sus cuadros."
    img="/images/gaby-guillen-art.webp"
    link="http://gabyguillenart.com"
  />
  <ProjectCard
    title="NT-History"
    description="Historial de partidas para el juego Nuclear Throne. Con tu steam ID puedes obtener los detalles de tus partidas."
    img="/images/nt-history.webp"
    link="https://nt-history-web.vercel.app"
  />
  <ProjectCard
    title="Vector Valley"
    description="Herramienta en desarrollo para generar iconos y convertir imágenes a svg."
    img="/images/vector-valley.webp"
    link="http://vector-valley.vercel.app"
  />
  <ProjectCard
    title="Geo Viewer"
    description="App para visualizar en tiempo real datos del centro de Murcia, como posiciones de tranvías o bicis."
    img="/images/geoviewer.webp"
    link="https://github.com/Javiparmu/geoviewer-app"
  />
  <ProjectCard
    title="Chesster"
    description="Aplicación web para jugar al ajedrez. De mis primeros proyectos. Con JavaScript puro, sin dependencias extra y dos bots contra los que jugar."
    img="/images/chesster.webp"
    link="https://javiparmu.github.io/Chesster/"
  />
</section>
