---
import {
  NextIcon,
  AstroIcon,
  ReactIcon,
  NodeIcon,
  TypescriptIcon,
  MongoIcon,
  TailwindIcon,
  TrpcIcon,
  RedisIcon,
  AwsIcon,
  GcpIcon,
  DockerIcon,
} from "./icons/Icons";
---

<span id="technologies-section"></span>
<section class="bg-gray-900 mt-28 sm:mt-48">
  <div class="mx-auto max-w-7xl px-6 lg:px-8 space-y-24">
    <div>
      <h2
        class="text-4xl sm:text-5xl text-center font-bold tracking-tight text-white"
      >
        Tecnologías
      </h2>
      <p
        class="text-center mt-4 text-gray-400 font-semibold text-md sm:text-lg"
      >
        Tecnologías ordenadas por uso y conocimientos.
      </p>
    </div>
    <div
      class="mt-16 sm:mt-24 grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4 gap-20 mx-10 sm:mx-20 place-items-center"
    >
      <figure
        title="Next.js"
        class="w-16 h-16 sm:w-28 sm:h-28 flex items-center justify-center rounded-md transition transform duration-200 hover:scale-[1.1]"
      >
        <NextIcon />
      </figure>
      <figure
        title="React"
        class="w-16 h-16 sm:w-28 sm:h-28 flex items-center justify-center rounded-md transition transform duration-200 hover:scale-[1.1]"
      >
        <ReactIcon />
      </figure>
      <figure
        title="Typescript"
        class="w-16 h-16 sm:w-28 sm:h-28 flex items-center justify-center rounded-md transition transform duration-200 hover:scale-[1.1]"
      >
        <TypescriptIcon />
      </figure>
      <figure
        title="Node"
        class="w-16 h-16 sm:w-28 sm:h-28 flex items-center justify-center rounded-md transition transform duration-200 hover:scale-[1.1]"
      >
        <NodeIcon />
      </figure>
      <figure
        title="MongoDB"
        class="w-16 h-16 sm:w-28 sm:h-28 flex items-center justify-center rounded-md transition transform duration-200 hover:scale-[1.1]"
      >
        <MongoIcon />
      </figure>
      <figure
        title="AWS"
        class="w-16 h-16 sm:w-28 sm:h-28 flex items-center justify-center rounded-md transition transform duration-200 hover:scale-[1.1]"
      >
        <AwsIcon />
      </figure>
      <figure
        title="Astro"
        class="w-16 h-16 sm:w-28 sm:h-28 flex items-center justify-center rounded-md transition transform duration-200 hover:scale-[1.1]"
      >
        <AstroIcon />
      </figure>
      <figure
        title="Tailwindcss"
        class="w-16 h-16 sm:w-28 sm:h-28 flex items-center justify-center rounded-md transition transform duration-200 hover:scale-[1.1]"
      >
        <TailwindIcon />
      </figure>
      <figure
        title="Redis"
        class="w-16 h-16 sm:w-28 sm:h-28 flex items-center justify-center rounded-md transition transform duration-200 hover:scale-[1.1]"
      >
        <RedisIcon />
      </figure>
      <figure
        title="Trpc"
        class="w-16 h-16 sm:w-28 sm:h-28 flex items-center justify-center rounded-md transition transform duration-200 hover:scale-[1.1]"
      >
        <TrpcIcon />
      </figure>
      <figure
        title="Docker"
        class="w-16 h-16 sm:w-28 sm:h-28 flex items-center justify-center rounded-md transition transform duration-200 hover:scale-[1.1]"
      >
        <DockerIcon />
      </figure>
      <figure
        title="GCP"
        class="w-16 h-16 sm:w-28 sm:h-28 flex items-center justify-center rounded-md transition transform duration-200 hover:scale-[1.1]"
      >
        <GcpIcon />
      </figure>
    </div>
  </div>
</section>
